[Unit]
Description=NIDS Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/nids/agent/agent
EnvironmentFile=/etc/nids/agent.env
ExecStart=/opt/nids/agent/venv/bin/python agent.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nids-agent

[Install]
WantedBy=multi-user.target
